Lectura del dataset.

In [1]:
import pandas as pd

raw_dataset = pd.read_csv("Covers.csv")

raw_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
0,Abc,The Jackson 5,2:42,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970
1,Let It Be,The Beatles,4:03,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970
2,I Want You Back,The Jackson 5,2:56,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970
3,Cecilia,Simon & Garfunkel,2:54,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970
4,Spirit In The Sky,Norman Greenbaum,4:02,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,6:15,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979
976,Don’t Cry Out Loud,Melissa Manchester,2:15,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979
977,When You’re In Love With A Beautiful Woman,Dr. Hook,2:54,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979
978,I’ll Never Love This Way Again,Dionne Warwick,2:58,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979
979,Dim All The Nights,Donna Summer,4:08,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979

Mostramos un pequeño resumen del dataset:

In [2]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track             980 non-null    object
 1   Artist            980 non-null    object
 2   Duration          980 non-null    object
 3   Time_Signature    980 non-null    int64
 4   Danceability      980 non-null    float64
 5   Energy            980 non-null    float64
 6   Key               980 non-null    int64
 7   Loudness          980 non-null    float64
 8   Mode              980 non-null    int64
 9   Speechiness       980 non-null    float64
 10  Acousticness      980 non-null    float64
 11  Instrumentalness  980 non-null    float64
 12  Liveness          980 non-null    float64
 13  Valence           980 non-null    float64
 14  Tempo             980 non-null    float64
 15  Popularity        980 non-null    int64
 16  Year              980 non-null    int64
dtypes: float64(9), int64(5), object(3)
memory usage: 130.3+ KB

Transformación de la duración de minutos a segundos.

In [3]:
modified_dataset = raw_dataset.copy()

modified_dataset["Duration"] = modified_dataset["Duration"].str.split(":")

modified_dataset["Duration"] = modified_dataset["Duration"].apply(lambda x: int(x[0]) * 60 + int(x[1]))

modified_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
0,Abc,The Jackson 5,162,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970
1,Let It Be,The Beatles,243,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970
3,Cecilia,Simon & Garfunkel,174,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970
4,Spirit In The Sky,Norman Greenbaum,242,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,375,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979
976,Don’t Cry Out Loud,Melissa Manchester,135,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979

Ver los registros que tienen el mínimo valor en X columna.

In [4]:
column = input("Columna: ")

min_value = raw_dataset[column].min()

min_registers = raw_dataset[raw_dataset[column] == min_value]

min_registers

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
137,Ain’t No Sunshine,Bill Withers,3:12,4,0.0942,0.995,2,-27.09,0,0.0514,0.315,0.97,0.957,0.00001,83.334,53,1971

Ver los registros que tienen el máximo valor en X columna.

In [5]:
column = input("Columna: ")

max_value = raw_dataset[column].max()

max_registers = raw_dataset[raw_dataset[column] == max_value]

max_registers

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
574,"Get Down, Get Down (GET On The Floor)",Joe Simon,4:31,4,0.985,0.782,1,-12.575,1,0.0976,0.0272,0.0,0.0574,0.86,124.382,13,1975

Hay registros en los que hay dos canciones en uno. Los eliminamos:

In [6]:
track_dataset = modified_dataset.copy()

track_dataset = track_dataset[~track_dataset["Track"].str.contains("/")]

track_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
0,Abc,The Jackson 5,162,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970
1,Let It Be,The Beatles,243,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970
3,Cecilia,Simon & Garfunkel,174,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970
4,Spirit In The Sky,Norman Greenbaum,242,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,375,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979
976,Don’t Cry Out Loud,Melissa Manchester,135,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979

Añadimos una columna que incluya la cantidad de caracteres en el título de la canción:

In [7]:
track_dataset["Track length"] = track_dataset["Track"].str.len()

track_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year,Track length
0,Abc,The Jackson 5,162,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970,3
1,Let It Be,The Beatles,243,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970,9
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970,15
3,Cecilia,Simon & Garfunkel,174,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970,7
4,Spirit In The Sky,Norman Greenbaum,242,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,375,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979,24
976,Don’t Cry Out Loud,Melissa Manchester,135,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979,18
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979,42
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979,30
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979,18

Creamos una columna que contenga el título de la canción sin artículos, preposiciones... y otras palabras que no aportan valor:

In [8]:
import re

# Lista de palabras que quieres eliminar
palabras = ["I’ll", "He’s", "She’s", "You’re", "We’re", "the", "of", "to", "don’t", "won’t", "ain’t", "when", "with", "in", "on",
            "and", "for", "this", "that", "i’m", "a", "me", "my", "i", "is", "be", "it", "what", "your", "how", "&", "gonna",
            "I’ve", "you’ve", "we’ve", "it’s",
            "will", "we", "if", "why", "us", "could", "I’d", "He’d", "She’d", "We’d"]

# Unir las palabras con el operador |
patron = r"(?<![\w'])(" + "|".join(palabras) + r")(?![\w'])"

# Reemplazar todas las coincidencias en la columna 'Track', sin distinguir entre mayúsculas y minúsculas
track_dataset["Track Transformed"] = track_dataset["Track"].str.replace(patron, "", regex=True, flags=re.IGNORECASE)

track_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year,Track length,Track Transformed
0,Abc,The Jackson 5,162,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970,3,Abc
1,Let It Be,The Beatles,243,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970,9,Let
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970,15,Want You Back
3,Cecilia,Simon & Garfunkel,174,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970,7,Cecilia
4,Spirit In The Sky,Norman Greenbaum,242,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970,17,Spirit Sky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,375,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979,24,Greatest Dancer
976,Don’t Cry Out Loud,Melissa Manchester,135,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979,18,Cry Out Loud
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979,42,Love Beautiful Woman
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979,30,Never Love Way Again
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979,18,Dim All Nights

In [9]:
import pandas_profiling as pp

report = pp.ProfileReport(track_dataset)
report.to_file(output_file="covers_report.html")

C:\Users\inaki\AppData\Local\Temp\ipykernel_13040\1530814309.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pp

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Cosas que podríamos analizar con respecto a las agrupaciones:

In [10]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Valence'].agg(['sum', 'mean', 'max'])

agg_result

            sum      mean    max
Mode
0     145.43591  0.621521  0.985
1     457.77930  0.622829  0.989

In [11]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Energy'].agg(['sum', 'mean', 'max'])

agg_result

            sum      mean    max
Mode
0     142.61100  0.609449  0.995
1     420.08202  0.571540  0.995

In [12]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Danceability'].agg(['sum', 'mean', 'max'])

agg_result

           sum      mean    max
Mode
0     142.5012  0.608979  0.911
1     427.9750  0.582279  0.985

In [13]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Tempo'].agg(['sum', 'mean', 'max'])

agg_result

            sum        mean      max
Mode
0     27884.229  119.163372  207.266
1     87304.744  118.781965  211.270

In [14]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Liveness'].agg(['sum', 'mean', 'max'])

agg_result

           sum      mean    max
Mode
0      38.1722  0.163129  0.957
1     131.7719  0.179281  0.985

In [15]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Speechiness'].agg(['sum', 'mean', 'max'])

agg_result

          sum      mean    max
Mode
0     16.1804  0.069147  0.737
1     42.0462  0.057206  0.576

In [16]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Key'].agg(['sum', 'mean', 'max'])

agg_result

       sum      mean  max
Mode
0     1457  6.226496   11
1     3587  4.880272   11

In [17]:
aux = track_dataset.groupby("Key")

agg_result = aux['Energy'].agg(['sum', 'mean', 'max'])

agg_result

          sum      mean    max
Key
0    79.46300  0.584287  0.979
1    46.64932  0.639032  0.974
2    59.50000  0.595000  0.995
3    13.31400  0.532560  0.926
4    43.66500  0.539074  0.987
5    55.64580  0.585745  0.995
6    27.36300  0.594848  0.898
7    66.75060  0.565683  0.968
8    31.03930  0.596910  0.989
9    68.04400  0.591687  0.968
10   34.93600  0.545875  0.909
11   36.32300  0.567547  0.949

In [18]:
aux = track_dataset.groupby("Key")

agg_result = aux['Danceability'].agg(['sum', 'mean', 'max'])

agg_result

         sum      mean    max
Key
0    80.1000  0.588971  0.887
1    43.8630  0.600863  0.985
2    59.2602  0.592602  0.912
3    13.7700  0.550800  0.925
4    46.8840  0.578815  0.864
5    56.3550  0.593211  0.946
6    27.6510  0.601109  0.868
7    68.2980  0.578797  0.877
8    31.2550  0.601058  0.965
9    65.2060  0.567009  0.912
10   38.0510  0.594547  0.888
11   39.7830  0.621609  0.908