In [2]:
import pandas as pd

raw_dataset = pd.read_csv("Covers.csv")

raw_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
0,Abc,The Jackson 5,2:42,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970
1,Let It Be,The Beatles,4:03,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970
2,I Want You Back,The Jackson 5,2:56,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970
3,Cecilia,Simon & Garfunkel,2:54,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970
4,Spirit In The Sky,Norman Greenbaum,4:02,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,6:15,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979
976,Don’t Cry Out Loud,Melissa Manchester,2:15,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979
977,When You’re In Love With A Beautiful Woman,Dr. Hook,2:54,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979
978,I’ll Never Love This Way Again,Dionne Warwick,2:58,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979
979,Dim All The Nights,Donna Summer,4:08,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979

In [3]:
import pandas_profiling as pp

report = pp.ProfileReport(raw_dataset)
report.to_file(output_file="covers_report.html")

c:\Users\inaki\OneDrive\Documentos\GitHub\TPE-FCD\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\inaki\AppData\Local\Temp\ipykernel_26396\4127689330.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pp
Summarize dataset: 100%|██████████| 170/170 [00:17<00:00,  9.77it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.28s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.72s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 15.11it/s]

In [4]:
song = raw_dataset[raw_dataset["Danceability"] == 0.985]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
574,"Get Down, Get Down (GET On The Floor)",Joe Simon,4:31,4,0.985,0.782,1,-12.575,1,0.0976,0.0272,0.0,0.0574,0.86,124.382,13,1975

In [5]:
column = "Danceability"

min_value = raw_dataset[column].min()

song = raw_dataset[raw_dataset[column] == min_value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
137,Ain’t No Sunshine,Bill Withers,3:12,4,0.0942,0.995,2,-27.09,0,0.0514,0.315,0.97,0.957,0.00001,83.334,53,1971

In [6]:
column = "Key"

min_value = raw_dataset[column].min()

song = raw_dataset[raw_dataset[column] == min_value]

song["Mode"].value_counts()

Mode
1    127
0     13
Name: count, dtype: int64

In [7]:
column = "Key"

max_value = raw_dataset[column].max()

song = raw_dataset[raw_dataset[column] == max_value]

song["Mode"].value_counts()

Mode
0    36
1    29
Name: count, dtype: int64

In [8]:
raw_dataset.info()

modified_dataset = raw_dataset.copy()

modified_dataset["Duration"] = modified_dataset["Duration"].str.split(":")

modified_dataset["Duration"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track             980 non-null    object
 1   Artist            980 non-null    object
 2   Duration          980 non-null    object
 3   Time_Signature    980 non-null    int64
 4   Danceability      980 non-null    float64
 5   Energy            980 non-null    float64
 6   Key               980 non-null    int64
 7   Loudness          980 non-null    float64
 8   Mode              980 non-null    int64
 9   Speechiness       980 non-null    float64
 10  Acousticness      980 non-null    float64
 11  Instrumentalness  980 non-null    float64
 12  Liveness          980 non-null    float64
 13  Valence           980 non-null    float64
 14  Tempo             980 non-null    float64
 15  Popularity        980 non-null    int64
 16  Year              980 non-null    int64
dtypes: float64(9), int64(5), object(3)
memory usage: 130.3+ KB

0      [2, 42]
1      [4, 03]
2      [2, 56]
3      [2, 54]
4      [4, 02]
        ...
975    [6, 15]
976    [2, 15]
977    [2, 54]
978    [2, 58]
979    [4, 08]
Name: Duration, Length: 980, dtype: object

In [9]:
modified_dataset["Duration"] = modified_dataset["Duration"].apply(lambda x: int(x[0]) * 60 + int(x[1]))

modified_dataset["Duration"]

0      162
1      243
2      176
3      174
4      242
      ...
975    375
976    135
977    174
978    178
979    248
Name: Duration, Length: 980, dtype: int64

In [10]:
ymca = modified_dataset[modified_dataset["Track"] == "Y.M.C.A."]

ymca

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
925,Y.M.C.A.,Village People,286,4,0.75,0.785,6,-10.926,1,0.0591,0.0278,0.0,0.0601,0.752,126.361,63,1979

In [11]:
song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
55,Band Of Gold,Freda Payne,3:32,4,0.608,0.478,11,-9.351,1,0.0369,0.5690,0.002070,0.1180,0.3020,130.989,43,1970
77,Ain’t No Mountain High Enough,Diana Ross,3:26,4,0.207,0.202,11,-16.461,0,0.0383,0.8610,0.051700,0.0780,0.0791,89.116,30,1970
88,Somebody’s Been Sleeping,100 Proof (Aged in Soul),2:42,4,0.799,0.528,11,-15.649,0,0.0731,0.0122,0.739000,0.0479,0.8260,148.030,13,1970
99,Superstar,The Carpenters,4:49,4,0.572,0.822,11,-6.015,0,0.3610,0.2070,0.000000,0.3590,0.4720,94.812,69,1971
131,You’ve Got A Friend,James Taylor,4:15,4,0.765,0.317,11,-11.881,0,0.0274,0.8800,0.000002,0.1260,0.5240,108.040,55,1971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892,Don’t Stop ‘TIL You Get Enough,Michael Jackson,6:05,4,0.878,0.821,11,-9.875,1,0.0890,0.1260,0.046100,0.1830,0.9470,118.881,75,1979
912,Tragedy,Bee Gees,5:03,4,0.665,0.532,11,-10.792,0,0.0278,0.0871,0.009930,0.2960,0.8250,117.954,67,1979
933,Love You Inside Out,Bee Gees,4:11,4,0.706,0.516,11,-11.037,0,0.0474,0.3540,0.000004,0.2050,0.8330,94.713,59,1979
959,You Take My Breath Away,Rex Smith,3:17,4,0.313,0.600,11,-7.913,1,0.0357,0.4760,0.000026,0.5230,0.2720,141.912,47,1979
961,I Was Made For Dancin’,Leif Garrett,3:16,4,0.689,0.584,11,-13.957,0,0.0314,0.0319,0.002750,0.3270,0.8370,127.132,44,1979

In [12]:
column = "Popularity"

max_value = raw_dataset[column].max()

song = raw_dataset[raw_dataset[column] == max_value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
283,Wildflower,Skylark,4:21,4,0.467,0.247,6,-12.002,0,0.0431,0.6120,0.000271,0.170,0.126,148.101,90,1973
881,Stumblin’ In,Suzi Quatro & Chris Norman,3:33,4,0.875,0.518,2,-8.388,1,0.0551,0.0638,0.009950,0.125,0.370,126.089,90,1979

In [13]:
lib = raw_dataset[raw_dataset["Track"] == "Let It Be"]

lib

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
1,Let It Be,The Beatles,4:03,4,0.443,0.403,0,-8.339,1,0.0322,0.631,0.0,0.111,0.41,143.462,78,1970

In [14]:
popularity_0 = modified_dataset[modified_dataset["Popularity"] == 0]

popularity_0

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
89,Whole Lotta Love / Living Loving Maid,Led Zeppelin,313,4,0.297,0.934,1,-5.606,1,0.0943,0.000274,0.003740,0.7800,0.384,79.781,0,1970
184,Have You Ever Seen The Rain / Hey Tonight,Creedence Clearwater Revival,158,4,0.735,0.556,0,-5.863,1,0.0276,0.117000,0.000000,0.0738,0.877,127.983,0,1971
185,I’ve Found Someone Of My Own,The Free Movement,214,3,0.676,0.334,7,-14.458,1,0.0526,0.803000,0.479000,0.1580,0.776,112.225,0,1971
281,I’d Like To Teach The World To Sing (IN Perfec...,The Hillside Singers,150,4,0.645,0.311,11,-12.264,1,0.0342,0.810000,0.000000,0.2070,0.605,130.166,0,1972
282,I’d Like To Teach The World To Sing (IN Perfec...,The New Seekers,150,4,0.645,0.311,11,-12.264,1,0.0342,0.810000,0.000000,0.2070,0.605,130.166,0,1972
480,(I’VE Been) Searchin’ So Long,Chicago,260,4,0.322,0.647,7,-3.862,1,0.0291,0.438000,0.000004,0.9850,0.169,90.750,0,1974
481,(YOU’RE) Having My Baby,Paul Anka with Odia Coates,158,4,0.445,0.637,0,-9.100,1,0.0284,0.571000,0.000000,0.1210,0.304,180.159,0,1974
580,"Don’t Call Us, We’ll Call You",Sugarloaf,230,4,0.221,0.954,8,-5.457,1,0.1430,0.002630,0.000096,0.3410,0.190,150.978,0,1975
680,The Wreck Of The Edmund Fitzgerald (#2*),Gordon Lightfoot,408,4,0.353,0.176,4,-17.426,1,0.0360,0.852000,0.000000,0.1260,0.287,112.732,0,1976
778,Ain’t Gonna Bump No More (WITH No Big Fat Woman),Joe Tex,195,4,0.742,0.745,2,-8.680,1,0.0633,0.017600,0.002020,0.3210,0.896,113.194,0,1977
779,I’ve Got Love On My Mind,Natalie Cole,234,3,0.494,0.440,1,-11.180,1,0.0425,0.013300,0.000000,0.1130,0.124,205.845,0,1977
780,Tonight’s The Night (GONNA Be Alright),Rod Stewart,213,3,0.567,0.606,11,-10.710,1,0.0421,0.104000,0.017600,0.5820,0.645,135.220,0,1977
879,Sentimental Lady,Bob Welch,275,4,0.539,0.396,4,-16.386,1,0.0378,0.777000,0.000118,0.1460,0.621,75.315,0,1978
880,This Time I’m In It For Love,Player,116,4,0.965,0.427,8,-19.720,1,0.1050,0.883000,0.905000,0.1050,0.966,139.996,0,1978
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.055100,0.000000,0.0343,0.661,121.581,0,1979

In [15]:
track_slash = modified_dataset[modified_dataset["Track"].str.contains("/")]

track_slash

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
87,Come Together / Something *,The Beatles,257,4,0.524,0.364,9,-12.551,0,0.0310,0.025800,0.433000,0.1320,0.505,167.534,14,1970
89,Whole Lotta Love / Living Loving Maid,Led Zeppelin,313,4,0.297,0.934,1,-5.606,1,0.0943,0.000274,0.003740,0.7800,0.384,79.781,0,1970
121,Uncle Albert/Admiral Halsey,Paul & Linda McCartney,295,4,0.371,0.507,7,-9.805,1,0.0325,0.580000,0.020100,0.1750,0.535,91.786,59,1971
181,Maggie May/Reason To Believe,Rod Stewart,350,4,0.566,0.585,2,-8.733,1,0.0362,0.721000,0.517000,0.0911,0.567,129.475,7,1971
184,Have You Ever Seen The Rain / Hey Tonight,Creedence Clearwater Revival,158,4,0.735,0.556,0,-5.863,1,0.0276,0.117000,0.000000,0.0738,0.877,127.983,0,1971
553,One Man Woman/One Woman Man,Paul Anka & Odia Coates,272,4,0.627,0.645,11,-6.820,1,0.0293,0.045700,0.000000,0.0655,0.509,91.015,44,1975
564,The Way We Were/Try To Remember,Gladys Knight & the Pips,271,4,0.285,0.265,7,-12.542,1,0.0418,0.354000,0.000003,0.7440,0.231,147.194,36,1975
676,Beth / Detroit Rock City,Kiss,168,4,0.453,0.286,0,-11.403,1,0.0321,0.807000,0.000034,0.2060,0.345,114.003,11,1976
766,Star Wars Theme/Cantina Band,Meco,212,4,0.677,0.915,0,-3.859,1,0.0912,0.001210,0.916000,0.3220,0.545,124.929,36,1977
867,We Will Rock You/We Are The Champions,Queen,231,3,0.281,0.634,0,-5.808,1,0.0391,0.236000,0.000013,0.0386,0.329,95.248,31,1978
974,The Main Event/Fight,Barbra Streisand,293,4,0.647,0.875,7,-8.503,1,0.0431,0.050200,0.000000,0.1720,0.684,137.392,25,1979

In [16]:
track_slash = modified_dataset[modified_dataset["Track"].str.contains("-")]

track_slash

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
47,Green-Eyed Lady,Sugarloaf,219,4,0.564,0.523,7,-12.908,1,0.1220,0.178000,0.030300,0.0624,0.890,149.304,47,1970
57,Love On A Two-Way Street,The Moments,217,4,0.472,0.339,2,-10.969,1,0.0392,0.610000,0.000000,0.2890,0.242,141.357,42,1970
143,Stick-Up,Honey Cone,222,4,0.310,0.932,11,-4.764,0,0.2620,0.000261,0.000004,0.3490,0.304,135.944,51,1971
144,Yo-Yo,The Osmonds,173,4,0.597,0.642,11,-5.305,0,0.1570,0.572000,0.000003,0.1250,0.719,168.825,51,1971
175,Chick-A-Boom (DON’T Ya Jes’ Love It),Daddy Dewdrop,171,4,0.781,0.732,0,-6.766,1,0.0505,0.034300,0.000000,0.1730,0.962,124.557,26,1971
267,Outa-Space,Billy Preston,250,4,0.715,0.827,1,-8.555,1,0.0369,0.140000,0.176000,0.2430,0.901,116.213,41,1972
269,My Ding-A-Ling,Chuck Berry,223,4,0.767,0.517,4,-9.908,1,0.1950,0.791000,0.000186,0.0780,0.846,144.322,40,1972
360,Half-Breed,Cher,167,4,0.646,0.467,9,-12.678,0,0.0325,0.524000,0.000000,0.3290,0.877,102.704,41,1973
441,The Loco-Motion,Grand Funk Railroad,165,4,0.456,0.933,0,-5.212,1,0.1530,0.375000,0.000000,0.5630,0.367,125.051,49,1974
968,Disco Nights (ROCK-FREAK),GQ,354,4,0.798,0.528,5,-12.228,0,0.0531,0.011600,0.003790,0.0446,0.898,122.610,39,1979

In [17]:
track_slash = modified_dataset[modified_dataset["Track"].str.contains("")]

track_slash

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
0,Abc,The Jackson 5,162,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970
1,Let It Be,The Beatles,243,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970
3,Cecilia,Simon & Garfunkel,174,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970
4,Spirit In The Sky,Norman Greenbaum,242,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,375,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979
976,Don’t Cry Out Loud,Melissa Manchester,135,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979

In [18]:
column = "Tempo"

value = raw_dataset[column].min()

song = raw_dataset[raw_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
830,Shadow Dancing,Andy Gibb,3:24,4,0.457,0.292,4,-12.165,0,0.0313,0.824,0.61,0.0924,0.139,53.986,59,1978

In [19]:
column = "Tempo"

value = raw_dataset[column].max()

song = raw_dataset[raw_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
931,"Lovin’, Touchin’, Squeezin’",Journey,3:50,3,0.403,0.644,2,-8.608,1,0.0439,0.0991,0.000179,0.231,0.714,211.27,60,1979

In [20]:
column = "Liveness"

songs = modified_dataset[modified_dataset[column] > 0.8]

songs

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
137,Ain’t No Sunshine,Bill Withers,192,4,0.0942,0.995,2,-27.090,0,0.0514,0.3150,0.970000,0.957,0.00001,83.334,53,1971
372,Daddy’s Home,Jermaine Jackson,197,4,0.3270,0.816,8,-7.880,1,0.3180,0.8040,0.000310,0.974,0.63600,205.747,30,1973
381,Also Sprach Zarathustra (2001),Deodato,539,4,0.4250,0.669,5,-9.481,1,0.0316,0.0844,0.916000,0.900,0.32400,114.751,15,1973
401,Rock On,David Essex,194,3,0.4490,0.296,0,-12.608,1,0.0361,0.8920,0.000755,0.892,0.13900,139.828,69,1974
480,(I’VE Been) Searchin’ So Long,Chicago,260,4,0.3220,0.647,7,-3.862,1,0.0291,0.4380,0.000004,0.985,0.16900,90.750,0,1974
575,Can’t Get It Out Of My Head,Electric Light Orchestra,233,4,0.2980,0.797,0,-6.540,1,0.0334,0.0132,0.000000,0.935,0.20500,97.984,9,1975
652,Shop Around,Captain & Tennille,170,4,0.5520,0.700,7,-4.533,1,0.0295,0.8090,0.000000,0.805,0.90100,132.005,47,1976
670,Don’t Go Breaking My Heart,Elton John & Kiki Dee,251,4,0.4810,0.995,5,-5.174,1,0.0417,0.0247,0.000209,0.962,0.45200,139.224,23,1976

In [21]:
column = "Duration"

value = modified_dataset[column].max()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
449,Tubular Bells,Mike Oldfield,1561,4,0.374,0.219,4,-19.104,0,0.0343,0.564,0.56,0.114,0.0579,103.535,47,1974

In [22]:
column = "Duration"

value = modified_dataset[column].min()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
643,Happy Days,Pratt and McClain,76,4,0.212,0.554,0,-8.352,1,0.0473,0.00325,0.859,0.324,0.625,137.787,51,1976

In [23]:
import pandas_profiling as pp

report = pp.ProfileReport(modified_dataset)
report.to_file(output_file="covers_report.html")

Summarize dataset: 100%|██████████| 195/195 [00:19<00:00, 10.20it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.26s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.56s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  9.86it/s]

In [24]:
column = "Time_Signature"

value = modified_dataset[column].max()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
483,I’m Sorry,John Denver,167,5,0.445,0.455,7,-6.405,1,0.0575,0.731,0.000001,0.124,0.1510,109.885,81,1975
871,My Angel Baby,Toby Beau,207,5,0.228,0.116,9,-23.560,0,0.0435,0.965,0.944000,0.152,0.0385,82.294,26,1978

In [25]:
column = "Time_Signature"

value = modified_dataset[column].min()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
466,Love’s Theme,Love Unlimited Orchestra,202,1,0.262,0.136,9,-19.819,0,0.0284,0.9500,0.90900,0.169,0.113,75.454,37,1974
506,Lucy In The Sky With Diamonds,Elton John,208,1,0.311,0.325,2,-9.042,1,0.0283,0.0469,0.00000,0.139,0.668,65.090,65,1975
563,Love Won’t Let Me Wait,Major Harris,227,1,0.597,0.291,11,-13.837,0,0.0352,0.9170,0.00003,0.122,0.226,115.666,37,1975

In [26]:
column = "Tempo"

value = modified_dataset[column].max()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
931,"Lovin’, Touchin’, Squeezin’",Journey,230,3,0.403,0.644,2,-8.608,1,0.0439,0.0991,0.000179,0.231,0.714,211.27,60,1979

In [27]:
column = "Tempo"

value = modified_dataset[column].min()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
830,Shadow Dancing,Andy Gibb,204,4,0.457,0.292,4,-12.165,0,0.0313,0.824,0.61,0.0924,0.139,53.986,59,1978

In [28]:
column = "Tempo"

songs = modified_dataset[modified_dataset[column] > 190]

songs

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.3050,0.000114,0.370,0.885,196.606,78,1970
85,La La La (IF I Had You),Bobby Sherman,162,4,0.232,0.644,9,-10.510,1,0.0494,0.7410,0.000046,0.743,0.897,200.423,20,1970
261,Precious And Few,Climax,164,4,0.203,0.401,9,-12.341,1,0.0339,0.4340,0.000000,0.100,0.170,201.467,43,1972
286,Last Song,Edward Bear,163,4,0.492,0.673,6,-5.431,1,0.0347,0.4130,0.000000,0.137,0.488,203.812,80,1973
317,Me And Mrs. Jones,Billy Paul,284,3,0.294,0.528,8,-10.010,1,0.0471,0.2340,0.000000,0.147,0.452,200.813,64,1973
372,Daddy’s Home,Jermaine Jackson,197,4,0.327,0.816,8,-7.880,1,0.3180,0.8040,0.000310,0.974,0.636,205.747,30,1973
380,Could It Be I’m Falling In Love,The Spinners,249,4,0.382,0.727,9,-6.677,0,0.0861,0.7290,0.000000,0.196,0.826,207.266,17,1973
572,Thank God I’m A Country Boy,John Denver,200,3,0.398,0.703,9,-11.289,1,0.3190,0.6620,0.000000,0.703,0.861,202.140,16,1975
765,You Don’t Have To Be A Star (TO Be In My Show),Marilyn McCoo & Billy Davis Jr.,279,4,0.475,0.556,6,-8.388,0,0.0321,0.3120,0.000000,0.216,0.917,200.033,40,1977
779,I’ve Got Love On My Mind,Natalie Cole,234,3,0.494,0.440,1,-11.180,1,0.0425,0.0133,0.000000,0.113,0.124,205.845,0,1977
826,Lay Down Sally,Eric Clapton,236,4,0.690,0.500,4,-16.145,0,0.0909,0.5980,0.028800,0.110,0.586,191.539,61,1978
931,"Lovin’, Touchin’, Squeezin’",Journey,230,3,0.403,0.644,2,-8.608,1,0.0439,0.0991,0.000179,0.231,0.714,211.270,60,1979
951,Love Is The Answer,England Dan & John Ford Coley,284,4,0.393,0.495,0,-14.033,0,0.0428,0.1370,0.000269,0.134,0.624,202.297,53,1979

In [32]:
column = "Tempo"

songs = modified_dataset[modified_dataset[column] < 70]

songs

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
59,Give Me Just A Little More Time,Chairmen of the Board,162,4,0.576,0.65800,0,-5.231,1,0.0344,0.0613,0.000000,0.0691,0.6290,63.059,41,1970
139,Help Me Make It Through The Night,Sammi Smith,248,4,0.459,0.39600,7,-7.900,1,0.0241,0.7330,0.003040,0.1270,0.4140,65.861,53,1971
232,Puppy Love,Donny Osmond,161,4,0.234,0.44300,7,-7.605,1,0.0361,0.7010,0.000000,0.2500,0.4480,68.690,57,1972
316,Clair,Gilbert O’Sullivan,268,4,0.335,0.00532,1,-31.646,1,0.0376,0.9940,0.912000,0.0621,0.0397,65.832,65,1973
337,Monster Mash,Bobby ‘Boris’ Pickett,192,4,0.541,0.50400,11,-14.191,0,0.4570,0.3750,0.000000,0.4210,0.7070,68.482,54,1973
506,Lucy In The Sky With Diamonds,Elton John,208,1,0.311,0.32500,2,-9.042,1,0.0283,0.0469,0.000000,0.1390,0.6680,65.090,65,1975
815,You Needed Me,Anne Murray,220,4,0.497,0.29600,9,-10.756,1,0.0302,0.4310,0.000000,0.1060,0.1710,62.204,63,1978
830,Shadow Dancing,Andy Gibb,204,4,0.457,0.29200,4,-12.165,0,0.0313,0.8240,0.610000,0.0924,0.1390,53.986,59,1978
947,You Don’t Bring Me Flowers,Neil Diamond & Barbra Streisand,195,4,0.160,0.12300,0,-18.111,1,0.0400,0.8780,0.000022,0.1570,0.2390,67.006,55,1979
973,We’ve Got Tonight,Bob Seger & The Silver Bullet Band,215,4,0.379,0.38700,8,-9.283,1,0.0278,0.7570,0.000000,0.1030,0.2220,61.530,26,1979

In [33]:
column = "Speechiness"

value = modified_dataset[column].max()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
394,Jungle Boogie,Kool & the Gang,174,4,0.538,0.52,7,-11.063,0,0.737,0.308,0.0,0.214,0.551,180.274,73,1974

In [34]:
column = "Valence"

value = modified_dataset[column].max()

song = modified_dataset[modified_dataset[column] == value]

song

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
498,Low Rider,War,190,4,0.812,0.644,0,-10.761,1,0.0493,0.0877,0.785,0.0563,0.989,140.075,71,1975

In [38]:
column = "Energy"

songs = modified_dataset[modified_dataset[column]  < 0.0099]

songs

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
316,Clair,Gilbert O’Sullivan,268,4,0.335,0.00532,1,-31.646,1,0.0376,0.994,0.912,0.0621,0.0397,65.832,65,1973
731,I’m In You,Peter Frampton,96,4,0.485,0.00880,5,-30.000,1,0.0507,0.996,0.940,0.1140,0.1890,85.778,58,1977

In [39]:
column = "Danceability"

songs = modified_dataset[modified_dataset[column]  < 0.1]

songs

# Porcentajes bastante altos en general.

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year
137,Ain’t No Sunshine,Bill Withers,192,4,0.0942,0.995,2,-27.09,0,0.0514,0.315,0.97,0.957,0.00001,83.334,53,1971

In [77]:
modified_dataset["Track length"] = modified_dataset["Track"].str.len()

modified_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year,Track length
0,Abc,The Jackson 5,162,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970,3
1,Let It Be,The Beatles,243,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970,9
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970,15
3,Cecilia,Simon & Garfunkel,174,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970,7
4,Spirit In The Sky,Norman Greenbaum,242,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,375,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979,24
976,Don’t Cry Out Loud,Melissa Manchester,135,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979,18
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979,42
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979,30
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979,18

In [108]:
import re

track_dataset = modified_dataset.copy()

# Lista de palabras que quieres eliminar
palabras = ["I’ll", "He’s", "She’s", "You’re", "We’re", "the", "of", "to", "don’t", "won’t", "ain’t", "when", "with", "in", "on",
            "and", "for", "this", "that", "i’m", "a", "me", "my", "i", "is", "be", "it", "what", "your", "how", "&", "gonna",
            "I’ve", "you’ve", "we’ve", "it’s",
            "will", "we", "if", "why", "us", "could", "I’d", "He’d", "She’d", "We’d"]

# Unir las palabras con el operador |
patron = r"(?<![\w'])(" + "|".join(palabras) + r")(?![\w'])"

# Reemplazar todas las coincidencias en la columna 'Track', sin distinguir entre mayúsculas y minúsculas
track_dataset["Track Transformed"] = track_dataset["Track"].str.replace(patron, "", regex=True, flags=re.IGNORECASE)

track_dataset

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year,Track length,Track Transformed
0,Abc,The Jackson 5,162,4,0.682,0.926,3,-2.515,0,0.0607,0.04040,0.000000,0.1900,0.860,105.969,81,1970,3,Abc
1,Let It Be,The Beatles,243,4,0.443,0.403,0,-8.339,1,0.0322,0.63100,0.000000,0.1110,0.410,143.462,78,1970,9,Let
2,I Want You Back,The Jackson 5,176,4,0.469,0.538,8,-13.559,1,0.0575,0.30500,0.000114,0.3700,0.885,196.606,78,1970,15,Want You Back
3,Cecilia,Simon & Garfunkel,174,4,0.755,0.876,0,-8.867,1,0.0362,0.35700,0.000005,0.2200,0.954,102.762,76,1970,7,Cecilia
4,Spirit In The Sky,Norman Greenbaum,242,4,0.609,0.617,9,-7.091,1,0.0307,0.09940,0.004040,0.1180,0.543,128.903,75,1970,17,Spirit Sky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,He’s The Greatest Dancer,Sister Sledge,375,4,0.700,0.815,7,-9.711,0,0.0440,0.00115,0.001240,0.0901,0.837,113.245,14,1979,24,Greatest Dancer
976,Don’t Cry Out Loud,Melissa Manchester,135,4,0.298,0.252,0,-8.950,1,0.0339,0.90100,0.000009,0.1270,0.193,90.955,9,1979,18,Cry Out Loud
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.48500,0.006820,0.1570,0.792,110.656,7,1979,42,Love Beautiful Woman
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.79200,0.013900,0.1650,0.247,137.702,5,1979,30,Never Love Way Again
979,Dim All The Nights,Donna Summer,248,4,0.758,0.540,7,-10.911,1,0.0385,0.05510,0.000000,0.0343,0.661,121.581,0,1979,18,Dim All Nights

In [109]:
import pandas_profiling as pp

report = pp.ProfileReport(track_dataset)
report.to_file(output_file="covers_report.html")

Summarize dataset: 100%|██████████| 224/224 [00:29<00:00,  7.53it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.30s/it]
Render HTML: 100%|██████████| 1/1 [00:07<00:00,  7.02s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  7.52it/s]

In [113]:
min_track_length = track_dataset[track_dataset["Track length"] == track_dataset["Track length"].min()]

min_track_length

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year,Track length,Track Transformed
90,If,Bread,172,4,0.457,0.499,1,-6.67,1,0.0334,0.247,0.000063,0.171,0.0348,127.95,84,1971,2,

In [114]:
max_track_length = track_dataset[track_dataset["Track length"] == track_dataset["Track length"].max()]

max_track_length

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year,Track length,Track Transformed
156,Indian Reservation (THE Lament Of The Cherokee...,Paul Revere & the Raiders,171,4,0.639,0.385,2,-13.253,1,0.0759,0.284,0.00193,0.0873,0.209,131.714,45,1971,66,Indian Reservation ( Lament Cherokee Reserva...

In [115]:
songs_love = track_dataset[track_dataset["Track"].str.contains("[Ll]ove", regex=True)]

songs_love

,Track,Artist,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Year,Track length,Track Transformed
5,Love Grows (WHERE My Rosemary Goes),Edison Lighthouse,174,4,0.568,0.824,9,-4.613,1,0.0299,0.403,0.000000,0.0855,0.753,108.625,73,1970,35,Love Grows (WHERE Rosemary Goes)
57,Love On A Two-Way Street,The Moments,217,4,0.472,0.339,2,-10.969,1,0.0392,0.610,0.000000,0.2890,0.242,141.357,42,1970,24,Love Two-Way Street
68,My Baby Loves Lovin’,White Plains,167,4,0.644,0.651,10,-10.871,1,0.0294,0.361,0.000000,0.1920,0.871,125.844,36,1970,20,Baby Loves Lovin’
69,"Julie, Do Ya Love Me",Bobby Sherman,172,4,0.425,0.410,9,-15.881,1,0.0341,0.507,0.000002,0.3000,0.664,82.177,35,1970,20,"Julie, Do Ya Love"
75,Love Or Let Me Be Lonely,The Friends of Distinction,203,4,0.565,0.564,9,-12.923,1,0.0274,0.371,0.000000,0.1970,0.775,95.465,31,1970,24,Love Or Let Lonely
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,Chuck E.’S In Love,Rickie Lee Jones,209,4,0.792,0.267,9,-16.974,1,0.1030,0.284,0.000000,0.1440,0.718,113.402,40,1979,18,Chuck E.’S Love
969,A Little More Love,Olivia Newton-John,207,4,0.717,0.414,8,-14.855,1,0.0364,0.029,0.009440,0.0865,0.494,100.178,39,1979,18,Little More Love
971,Mama Can’t Buy You Love,Elton John,244,4,0.529,0.432,5,-14.245,1,0.0333,0.524,0.000000,0.1150,0.555,94.382,36,1979,23,Mama Can’t Buy You Love
977,When You’re In Love With A Beautiful Woman,Dr. Hook,174,4,0.665,0.663,8,-11.367,1,0.0386,0.485,0.006820,0.1570,0.792,110.656,7,1979,42,Love Beautiful Woman
978,I’ll Never Love This Way Again,Dionne Warwick,178,4,0.452,0.434,8,-8.870,1,0.0399,0.792,0.013900,0.1650,0.247,137.702,5,1979,30,Never Love Way Again

In [71]:
songs = track_dataset[track_dataset["Track"].str.contains("thg", regex=True)]

songs

Empty DataFrame
Columns: [Track, Artist, Duration, Time_Signature, Danceability, Energy, Key, Loudness, Mode, Speechiness, Acousticness, Instrumentalness, Liveness, Valence, Tempo, Popularity, Year]
Index: []

In [83]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Valence'].agg(['sum', 'mean', 'max'])

agg_result

            sum      mean    max
Mode
0     145.94091  0.621025  0.985
1     462.78530  0.621188  0.989

In [84]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Energy'].agg(['sum', 'mean', 'max'])

agg_result

            sum      mean    max
Mode
0     142.97500  0.608404  0.995
1     426.28402  0.572193  0.995

In [85]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Danceability'].agg(['sum', 'mean', 'max'])

agg_result

           sum      mean    max
Mode
0     143.0252  0.608618  0.911
1     432.9140  0.581093  0.985

In [86]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Tempo'].agg(['sum', 'mean', 'max'])

agg_result

            sum        mean      max
Mode
0     28051.763  119.369204  207.266
1     88443.550  118.716174  211.270

In [87]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Liveness'].agg(['sum', 'mean', 'max'])

agg_result

           sum      mean    max
Mode
0      38.3042  0.162997  0.957
1     134.4399  0.180456  0.985

In [88]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Speechiness'].agg(['sum', 'mean', 'max'])

agg_result

          sum      mean    max
Mode
0     16.2114  0.068985  0.737
1     42.5134  0.057065  0.576

In [89]:
aux = track_dataset.groupby("Mode")

agg_result = aux['Key'].agg(['sum', 'mean', 'max'])

agg_result

       sum      mean  max
Mode
0     1466  6.238298   11
1     3622  4.861745   11

In [90]:
aux = track_dataset.groupby("Key")

agg_result = aux['Energy'].agg(['sum', 'mean', 'max'])

agg_result

          sum      mean    max
Key
0    81.85400  0.584671  0.979
1    47.58332  0.643018  0.974
2    60.08500  0.594901  0.995
3    13.31400  0.532560  0.926
4    43.66500  0.539074  0.987
5    55.64580  0.585745  0.995
6    27.36300  0.594848  0.898
7    68.39760  0.565269  0.968
8    31.03930  0.596910  0.989
9    68.40800  0.589724  0.968
10   34.93600  0.545875  0.909
11   36.96800  0.568738  0.949

In [92]:
aux = track_dataset.groupby("Key")

agg_result = aux['Danceability'].agg(['sum', 'mean', 'max'])

agg_result

         sum      mean    max
Key
0    82.2460  0.587471  0.887
1    44.1600  0.596757  0.985
2    59.8262  0.592339  0.912
3    13.7700  0.550800  0.925
4    46.8840  0.578815  0.864
5    56.3550  0.593211  0.946
6    27.6510  0.601109  0.868
7    69.6010  0.575215  0.877
8    31.2550  0.601058  0.965
9    65.7300  0.566638  0.912
10   38.0510  0.594547  0.888
11   40.4100  0.621692  0.908